# Homework 2: Pandas


Homework 2 is out, it is notebook form. You need to fill in the answers in the cells and produce graphs. Everything needed for the assignment is explained in the notebook. 

**How to submit**

You need to send the `.ipynb` file with your answers plus an `.html` file, which will serve as a backup for us in case the `.ipynb` file cannot be opened on my or the TA's computer. 

The homework solution should be uploaded on e-campus. You can submit it as often as you like before the deadline.

**Important**

- Please make sure that you provide an answer in each cell and place that contains the **[ your answer ]** tags.
- The places that require your code answer are marked with `"# YOUR CODE"` comments.
- Note that you may use 1 or more line of code for replacing each `"# YOUR CODE"` comment.

In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd

# Pandas Basics (40 points)

Consider the series s of letters in a sentence

In [2]:
s = pd.Series(list("Series is a one-dimensional labeled array capable of holding any data type (integers, strings, floating point numbers, Python objects, etc.). The axis labels are collectively referred to as the index."))

## Question 1a

What is count of each letter in the sentence, output a series which is sorted by the count?

In [ ]:
#YOUR CODE HERE

## Question 1b

Create a list with only the top 5 common letters (not including space)

In [ ]:
#YOUR CODE HERE

Given the dataframe below,

In [ ]:
dates = pd.date_range('1/1/2000', periods=8)
df = pd.DataFrame(np.random.randn(8, 4), index=dates, columns=['A', 'B', 'C','D'])
df

## Question 1c

Find last two rows of columns A and D

In [ ]:
#YOUR CODE HERE

## Question 1d

Find last three rows which satisfy that column A > Column B

In [ ]:
#YOUR CODE HERE

# Baby Names Questions (30 points)

In [ ]:
import urllib.request
import os.path
import zipfile

data_url = "https://www.ssa.gov/oact/babynames/state/namesbystate.zip"
local_filename = "babynamesbystate.zip"
if not os.path.exists(local_filename): # if the data exists don't download again
    with urllib.request.urlopen(data_url) as resp, open(local_filename, 'wb') as f:
        f.write(resp.read())

zf = zipfile.ZipFile(local_filename, 'r')

ca_name = 'NY.TXT'
field_names = ['State', 'Sex', 'Year', 'Name', 'Count']
with zf.open(ca_name) as fh:
    babynames = pd.read_csv(fh, header=None, names=field_names)

babynames.sample(5)

## Question 2a

Write a line of code that creates a list (or Series or array) of all names that end with “ert”.

Your list should have only one instance of each name!

In [ ]:
#YOUR CODE HERE

## Question 2b

Find the number of babies born in each year of each sex.

First, build a table showing the total number of babies born of each sex in each year. One way is to groupby using both columns of interest.

In [ ]:
#YOUR CODE HERE

## Question 2c

Second, a more natural approach is to use a pivot table. Create a pivot table.

In [ ]:
#YOUR CODE HERE

# Enrollment Practice Questions (40 points)

In [ ]:
df = pd.read_csv("enrollments.csv", usecols=["Term", "Subject", "Number", "Title", "Enrollment Cnt", "Instructor"])
df.head()

## Question 3a

Try to find all Spring offerings of this course. Note, this dataset only contains Spring offerings, so there's no need to filter based on semester. The official "Number" for this class is "C100".

In [ ]:
#YOUR CODE HERE

## Question 3b

Create a series where each row correspond to one subject (e.g. English), and each value corresponds to the average number of students for courses in that subject. For example, your series might have a row saying that the average number of students in a Computer Science class is 88.

In [ ]:
#YOUR CODE HERE

## Question 3c

Create a multi-indexed series where each row corresponds to one subject (e.g. English) offered during one semester (e.g. Spring 2017), and each value corresponds to the maximum number of students for courses in that subject during that semester. For example, you might have a row saying that the maximum number of students in a computer science course during Spring 2012 was 575.

In [ ]:
#YOUR CODE HERE

## Question 3d

Try to compute the size of the largest class ever taught by each instructor. This challenge is stated more vaguely on purpose. You'll have to decide what the data structure looks like. Your result should be sorted in decreasing order of class size.

In [ ]:
#YOUR CODE HERE